.form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: fit-content;
	padding: 25px;
	background: white;
	border-radius: 10px;

	button {
		width: 100%;
		min-width: 150px;
	}
}

.title {
	font-size: 18px;
	text-align: center;
}
