@use '../../../assets/scss/vars/index.scss' as *;

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 50px;
	width: 300px;
	background-color: $sidebar_bg_purple;
}
