@use '../../../assets/scss/vars/index.scss' as *;
@use '../../../assets/scss/mixins/mixins' as *;

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	padding: 15px 25px;
	height: 100px;
	background-color: $header_bg_purple;
	z-index: 150;

	@include tablet {
		height: 90px;
		max-width: 1040px;
	}

	@include tablet-sm {
		max-width: 800px;
		padding-left: 70px;
	}

	@include mobile {
		max-width: 500px;
		height: 100px;
		padding: 12px 80px;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: start;
		padding-left: 20px;

		@include mobile {
			width: 100%;
		}
	}

	.logo {
		display: block;
		width: 70px;

		img {
			display: block;
			width: 100%;
		}
	}

	.title {
		font-family: $font_family_second;
		font-size: 56px;
		font-weight: 700;
		margin-left: 40px;

		@include tablet-sm {
			font-size: 48px;
			margin-left: 30px;
		}

		@include mobile {
			font-size: 40px;
			margin-left: 16px;
		}
	}

	.logout {
		@include mobile {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			margin-top: 30px;
		}

		@include tablet-sm {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-top: 10px;
		}

		@include tablet {
		}
	}
}
