// fonts -------------------------------
$font_family_main: Roboto, sans-serif;
$font_family_second: Charm, sans-serif;
$font_size_main: 16px;
$font_size_main_second: 14px;

// sizes -------------------------------
$height_form_el_defaut: 36px;
$height_form_el_small: 28px;
$height_form_el_large: 44px;

// colors -------------------------------
$color_main: #323232;

$color_purple: #c617c6;
$color_purple_light: #f709f7;
$color_purple_dark: #902a90;

$color_blue: #496af9;
$color_blue_light: #d6e7f6;
$color_blue_dark: #2a14f6;

// animations -------------------------------
$transition: 0.15s linear;

// layout -------------------------------
$header_bg_purple: #e7b8f7;
$sidebar_bg_purple: #eeddf9;
$mainPage_bg_purple: #e3effa;

// $header_bg_blue: #7a6df0;
// $sidebar_bg_blue: #ada5f8;
// $mainPage_bg_blue: #d6e7f6;
